<h1>Locales</h1>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th class="col-xs-1">ID</th>
        <th class="col-xs-3">Title</th>
        <th class="col-xs-7">Source</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="song in data | filter:category='Locales'" ng-class="{'success': song.checked}">
        <td>
          <input
            type="checkbox"
            ng-model="song.checked"
            ng-click="actions.saveRollInHistory(song.id)">
        </td>
        <td>{{ song.id }}</td>
        <td>
          <div ng-if="song.url.length"><a href="{{song.url}}" target="_blank">{{ song.title }}</a></div>
          <div ng-if="!song.url.length">{{ song.title }}</div>
        </td>
        <td>
          <div ng-bind-html="showHtml(song.source.comment)"></div>
          <div ng-if="song.source.recipeItems && song.source.recipeItems.length">
            <div ng-repeat="ingredient in song.source.recipeItems" ng-class="{ 'bg-success': ingredient.checked }">
              <input
                type="checkbox"
                ng-model="ingredient.checked"
                ng-click="actions.saveRollInHistory(song.id)"> {{ ingredient.name }}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>