<div class="container">
  <div class="page-header">
    <h1>FFXIV Orchestrion Tracker <small>v0.1.1</small></h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Drop Tips</div>
        <div class="panel-body">
          <ul>
            <li>2.x raids and primals have guaranteed drops from chest if you do them with "min iLevel" setting checked.</li>
            <li>Dungeon drops go directly to player inventory when you beat the last boss.</li>
          </ul>
        </div>
      </div>

      <ul class="list-unstyled">
        <li>Thanks to /u/Shini-tan for <a href="https://www.reddit.com/r/ffxiv/comments/47gi5f/list_of_orchestrion_roll_sources/">compiling the info</a>.</li>
        <li>Please feel free to <a href="https://github.com/echogame/ffxiv-orchestrion">open a pull request or issue</a> for feature requests or to file a bug.</li>
        <li>You can find me on <a href="http://na.finalfantasyxiv.com/lodestone/character/753498">Hyperion @ Chai Latte</a></li>
      </ul>
    </div>
  </div>

  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th class="col-xs-1">ID</th>
          <th class="col-xs-3">Title</th>
          <th class="col-xs-7">Source</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="song in data" ng-class="{'success': song.checked}">
          <td>
            <input
              type="checkbox"
              ng-model="song.checked"
              ng-click="actions.saveRollInHistory(song.id)">
          </td>
          <td>{{ song.id }}</td>
          <td>
            <div ng-if="song.url.length"><a href="{{song.url}}" target="_blank">{{ song.title }}</a></div>
            <div ng-if="!song.url.length">{{ song.title }}</div>
          </td>
          <td>
            <div ng-bind-html="showHtml(song.source.comment)"></div>
            <div ng-if="song.source.recipeItems && song.source.recipeItems.length">
              <div ng-repeat="ingredient in song.source.recipeItems" ng-class="{ 'bg-success': ingredient.checked }">
                <input
                  type="checkbox"
                  ng-model="ingredient.checked"
                  ng-click="actions.saveRollInHistory(song.id)"> {{ ingredient.name }}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-md-12 footer">
      <em>FINAL FANTASY is a registered trademark of Square Enix Holdings Co., Ltd.</em>
    </div>
  </div>
</div>